<!-- @format -->

{% extends 'head.html' %} {% block content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <title>Weather for going out</title>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Jua", sans-serif;
      }

      .wrap {
        margin: auto;
        width: 900px;
      }

      .comment {
        font-weight: bold;
        color: blue;
      }

      .posting-box {
        margin: 10px auto 30px auto;
        width: 500px;

        border: 3px solid black;
        border-radius: 5px;

        padding: 25px;
      }
    </style>
    <script>
      function postupdate() {
        let pw = $("#pw").val();
        let pw2 = $("#pw2").val();
        let area = $("#all_village").val(); // 주소 중 '동'만 area로 받음.
        let goingToOffice = $("#goingToOffice").val();
        let goingHome = $("#goingHome").val();

        if (
          pw === "" ||
          pw2 === "" ||
          area === null ||
          goingToOffice === "" ||
          goingHome === ""
        ) {
          alert("입려하지 않은 필드가 있습니다.");
          window.location.reload();
          return;
        }

        if (pw != pw2) {
          alert("두 비밀번호가 일치하지 않습니다.");
          return;
        }

        // 2. join에 POST 방식으로 생성 요청하기
        $.ajax({
          type: "POST", // POST 방식으로 요청하겠다.
          url: "/update", // /join이라는 url에 요청하겠다.
          data: {
            pw_give: pw,
            pw2_give: pw2,
            area_give: area,
            goingToOffice_give: goingToOffice,
            goingHome_give: goingHome,
          }, // 데이터를 주는 방법
          success: function (response) {
            // 성공하면
            if (response["result"] == "success") {
              alert("정보 수정 성공!");
              // 3. 성공 시 페이지 새로고침하기
              window.location.href = "/";
            } else {
              alert("정보 수정 실패!");
              window.location.reload();
            }
          },
        });
      }

      function check_pw() {
        if (
          document.getElementById("pw").value ==
          document.getElementById("pw2").value
        ) {
          document.getElementById("pwCheck").innerHTML =
            "비밀번호가 일치합니다.";
          document.getElementById("pwCheck").style.color = "blue";
        } else {
          document.getElementById("pwCheck").innerHTML =
            "비밀번호가 일치하지 않습니다.";
          document.getElementById("pwCheck").style.color = "red";
        }
      }

      function sidoChange(e) {
        console.log(e.value);

        $.ajax({
          type: "GET",
          url: `join_sigungu?sido_give=${e.value}`, // GET은 data가 아니라 url로 받아야함, javascript 문장열 안 변수 넣을 때 백틱+${}이용
          data: {},
          success: function (response) {
            console.log(response);
            var target = document.getElementById("all_sigungu");

            target.options.length = 0; // dropdown항목 처음 초기화
            var opt = document.createElement("option");
            opt.value = 'none';
            opt.innerHTML = '===== 선택 =====';
            target.appendChild(opt); // 추가
            for (x in response["all_sigungu"]) {
              var opt = document.createElement("option");
              opt.value = response["all_sigungu"][x];
              opt.innerHTML = response["all_sigungu"][x]; // 실제 dropdown에 표시되는 값
              target.appendChild(opt); // 추가
            }
          },
        });
      }

      function sigunguChange(e) {
        console.log(e.value);

        $.ajax({
          type: "GET",
          url: `join_village?sigungu_give=${e.value}`,
          data: {},
          success: function (response) {
            console.log(response);
            var target = document.getElementById("all_village");

            target.options.length = 0;
            var opt = document.createElement("option");
            opt.value = 'none';
            opt.innerHTML = '===== 선택 =====';
            target.appendChild(opt); // 추가
            for (x in response["all_village"]) {
              var opt = document.createElement("option");
              opt.value = response["all_village"][x];
              opt.innerHTML = response["all_village"][x];
              target.appendChild(opt);
            }
          },
        });
      }

      function init() {
        const e = $("#all_sido option:selected").val()
        const e_sigungu = $("#all_sigungu option:selected").val()
        const e_village = $("#all_village option:selected").val()
        console.log(e_sigungu)
        $.ajax({
          type: "GET",
          url: 'join_sigungu?sido_give=' + e, // GET은 data가 아니라 url로 받아야함, javascript 문장열 안 변수 넣을 때 백틱+${}이용
          data: {},
          success: function (response) {
            console.log(response);
            var target = document.getElementById("all_sigungu");

            target.options.length = 0; // dropdown항목 처음 초기화
            var opt = document.createElement("option");
            opt.value = 'none';
            opt.innerHTML = '===== 선택 =====';
            target.appendChild(opt); // 추가
            for (x in response["all_sigungu"]) {
              var opt = document.createElement("option");
              opt.value = response["all_sigungu"][x];
              console.log(x);
              opt.innerHTML = response["all_sigungu"][x]; // 실제 dropdown에 표시되는 값
              if (response["all_sigungu"][x] == e_sigungu) {
                opt.setAttribute('selected', 'selected');
              };
              target.appendChild(opt); // 추가
            }
          },
        });
        $.ajax({
          type: "GET",
          url: 'join_village?sigungu_give=' + e_sigungu,
          data: {},
          success: function (response) {
            console.log(response);
            var target = document.getElementById("all_village");

            target.options.length = 0;
            var opt = document.createElement("option");
            opt.value = 'none';
            opt.innerHTML = '===== 선택 =====';
            target.appendChild(opt); // 추가
            for (x in response["all_village"]) {
              var opt = document.createElement("option");
              opt.value = response["all_village"][x];
              opt.innerHTML = response["all_village"][x];
              if (response["all_village"][x] == e_village) {
                opt.setAttribute('selected', 'selected');
              };
              target.appendChild(opt);
            }
          },
        });
      }
    </script>
  </head>

  <body onload="init();">
    <div class="wrap">
      <div class="posting-box">
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input
            id="userID"
            type="email"
            class="form-control"
            placeholder="{{user['userID']}}"
            disabled
          />
        </div>
        <div><span id="pwCheck"></span></div>
        <label>시도</label><br />
        <select id="all_sido" name="sido" method="GET" action="/" onchange="sidoChange(this)">
          <option value="none">===== 선택 =====</option>
          {% for sido in all_sido %}
            {% if sido == user['sido'] %}
              <option value="{{sido}}" selected>{{sido}}</option>
            {% else %}
              <option value="{{sido}}">{{sido}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br /><br />

        <label>시군구</label><br />
        <select
          id="all_sigungu"
          name="sigungu"
          method="GET"
          action="/"
          onchange="sigunguChange(this)"
        >
        <option value="{{user['sigungu']}}" selected>{{user['sigungu']}}</option>
          {% for sigungu in all_sigungu %}
            {% if sido == user['sigungu'] %}
              <option value="{{sigungu}}" selected>{{sigungu}}</option>
            {% else %}
              <option value="{{sigungu}}">{{sigungu}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br /><br />

        <label>읍면동</label><br />
        <select id="all_village" name="village" method="GET" action="/">
          <option value="{{user['area']}}" selected>{{user['area']}}</option>
          {% for village in all_village %}
          <option value="{{village}}">{{village}}</option>
          {% endfor %}
        </select>
        <br /><br />

        <div class="form-group">
          <label for="exampleInputEmail1">출근 시간</label>
          <p><input id="goingToOffice" type="time" placeholder="" /></p>
        </div>
        <div class="form-group">
          <label>퇴근 시간</label>
          <p><input id="goingHome" type="time" /></p>
        </div>

        <button type="button" class="btn btn-primary" onclick="postupdate()">
          회원 정보 수정
        </button>
      </div>
    </div>
  </body>
</html>

{% endblock %}
